*{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.head{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Desktop - 3.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative !important;
}
.head .nav{
    justify-content: space-between;
    padding-top: 10px;
    align-items: center !important;
    
}
.head .icons i{
    padding: 0px 15px;
    font-size: 20px;
    margin-top: 17px;
}
.head .boot h5{
    color: #444243;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* content */
.content div h1{
    font-size: 80px;
    font-weight: 700;
}
.content div h1 span{
    font-size: 80px;
    font-weight: 700;
}
.content div h6{
    width: 400px;
    color: #c1c1c4;
    line-height: 1.5;
}
.content div div .Get{
    background-color: #fff;
    color: #444243;
    font-size: 18px;
    padding: 18px 20px;
    border-radius: 50px;
    border: none;
    margin-right: 20px;
}
.content div div .Learn{
   background-color:rgba(0, 0, 0, 0.5);
   color: #fff;
   font-size: 18px;
   padding: 18px 20px;
   border-radius: 50px;
   border:1px solid #fff;
   margin-right: 20px;
}


/* topics */


#topics{
    background-image: url("../images/Frame 9 (1).png");
    background-size: cover; 
}
#topics .topic{
    margin-top: 100px;
}
#topics .topic .intro h3{
    font-size: 30px;
    font-weight: 600;
}
#topics .topic .intro img{
    font-size: 30px !important;
}
.view{
    background-color: #067d73 !important;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 10px;
}

/* health */

#health{
    background-color: #fcfff1;
}
#health .row{
    margin: 100px 70px !important;
}
#health .row .health button{
    background-color: #067d73 !important;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    width: 190px ;
    height: 40px;
    border: none;
    border-radius: 10px;
}
#health .row .health *{
    margin-top: 30px;
}

/* ai */

#ai{
    background-color: #fcfff1;
    margin-bottom: 50px;
}

#ai .header *{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#ai .header .Start{
    background-color: #067d73 !important;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    width: 190px ;
    height: 40px;
    border: none;
    border-radius: 10px;
}
#ai .header .Discover{
    background-color: #fff !important;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    width: 230px ;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.ai_content{
    background-color: #b5cda9;
    padding: 15px 10px;
    border-radius: 20px;
}
.ai_content *{
    margin-top: 20px;
}
.ai_content i{
    border-radius: 10px;
}

/*  */

.answer .answer{
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 25px;
    border-radius: 10px;
    align-items: center;
    
}